@import "../../sass/abstract/constants";

.answer-section {
  margin-bottom: 40px;
  &__text {
    &_correct {
      color: $color-correct-answer;
    }
    &_incorrect {
      color: $color-incorrect-answer;
    }
  }
}
