@import "../../sass/abstract/constants";

.btn-next-level {
  width: 200px;
  height: 35px;

  opacity: .5;

  &_active {
    color: $color-button-next;

    background-color: $color-header-text;
    border: none;
    cursor: pointer;
    opacity: .9;
  }
}
