.header {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    h1 {
      margin: 20px 0;
    }
  }
}

@media (max-width: 450px) {
  .header {
    &__title {
      width: 90%;

      h1 {
        font-size: 2rem;
      }
    }
  }
}
