$color-header: linear-gradient(to bottom, #250902, #290904, #2e0806, #33060a, #6b0d1f);
$color-footer: linear-gradient(to top, #250902, #290904, #2e0806, #33060a, #6b0d1f);
$color-sub-header: linear-gradient(to top, #6b0d1f, #290904, #2e0806, #33060a, #6b0d1f);
$color-header-text: wheat;
$color-header-active-text: #ffa600;
$color-body: #720026;
$color-button-next: #250902;
$color-correct-answer: #00ff00;
$color-incorrect-answer: #e70000;
