.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .container {
    width: 95%;
  }
}
