.footer {
  position: sticky;
  bottom: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 6px;

  color: $color-header-text;

  background-image: $color-footer;
}
